.nav_sec {
    position: relative;
    top: 80px;
}

.nav_btn {
    color: #fff;
    font-size: 25px;
    border: 1px solid #999999;
    border-radius: 50%;
    padding: 6px 15px 12px;
    position: fixed;
    top: 50px;
    right: 90px;
}

.nav_btn:hover {
    color: #28e98c;
    border: 1px solid #28e98c;

}

.nav_cnt {
    padding: 50px 80px;
    background-color: #191919 !important;
}

.btn-close {
    color: #999999;
}

.nav_head_title {
    color: #999999;
    margin-left: 30px;
    margin-bottom: 0;
}

.nav_items :hover {
    color: #28e98c;
}

.nav_items li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #999999;
    cursor: pointer;
    margin-bottom: 30px;

}

.nav_items li a {
    text-decoration: none;
    color: #999999;
}

.nav_items li a:hover {
    color: #fff;
}

.offcanvas {
    background-color: black;
}

.offcanvas-backdrop.show {
    background-color: #565656 !important;
}


.offcanvas.offcanvas-end {
    width: 280px;
    background-color: black !important;
}

.offcanvas-header .btn-close {
    background-color: #28e98c;
}

/* MEADIA QUERIES  for small device*/
@media screen and (max-width:767px) {
    .nav_btn {
        top: 50px;
        right: 45px;
        padding: 2px 10px 5px;

    }
}

/* MEADIA QUERIES  for medium device*/
@media screen and (min-width:768px) and (max-width:992px) {
    .nav_btn {
        top: 60px;
        right: 60px;
    }
}

/* MEADIA QUERIES  for small lap device*/
@media screen and (min-width:993px) and (max-width:1024px) {

    .nav_btn {
        top: 45px;
        right: 38px;
    }
}