.rightbar_sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #999999;
    border: 1px solid #565656;
    padding: 40px 20px;
    width: max-content;
    position: fixed;
    top: 200px;
    margin-left: 35px;
    border-radius: 30px;
}

.rightbar_sec a {
    color: #999999;
    font-size: 20px;
}

.rightbar_sec a:hover {
    color: #28e98c;
}

/* MEADIA QUERIES  for small device*/
@media screen and (max-width:767px) {
    .rightbar_sec {
        display: none;
    }
}

/* MEADIA QUERIES  for medium device*/
@media screen and (min-width:768px) and (max-width:992px) {
    .rightbar_sec {
        display: none;
    }
}

/* MEADIA QUERIES for small lap device*/
@media screen and (min-width:993px) and (max-width:1024px) {
    .rightbar_sec {
        margin-left: 20px;
        padding: 35px 18px;
        top: 180px;
    }

    .rightbar_sec a {
        font-size: 18px;
    }
}