.contact_form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact_form div {
    display: flex;
    flex-direction: column;
}

.contact_form label {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.contact_form sup {
    color: #fc4545;
    font-size: 12px;
    top: -1px;
    left: 3px;

}

.contact_form input,
textarea {
    display: block;
    color: #f1eaea;
    width: 100%;
    border: none;
    background: none;
    font-size: 18px;
    padding: 0;
    transition: .2s;
    padding-bottom: 3px;
    margin: 0;

}

.contact_form input:focus,
textarea:focus {
    outline: none;
}

.contact_form input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    border: none;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px primary inset;
    transition: background-color 5000s ease-in-out 0s;
    font-weight: 200;

}

.attachment label {
    align-items: center;
    display: flex;
    gap: 12px;
}

.contact_btn button {
    background-color: #28e98c;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #28e98c;
    width: fit-content;
}

.contact_btn button:hover {
    color: #28e98c;
    border: 2px solid #28e98c;
    background-color: transparent;
}

/* MEDIA QUERIES for small device */
@media screen and (max-width:767px) {
    .contact_form {
        gap: 15px;
    }

    .contact_form label {
        font-size: 11px;
        margin-bottom: 8px;
    }

    .contact_form input,
    textarea {
        font-size: 16px;
    }

    .contact_btn button {
        padding: 10px 30px;
        font-size: 14px;
        width: 100%;
    }

    .attachment label {
        font-size: 12px;
        gap: 8px;
    }
}

/* MEDIA QUERIES for medium device */
@media screen and (min-width:768px) and (max-width:992px) {
    .contact_form {
        gap: 18px;
    }

    .contact_form input,
    textarea {
        font-size: 17px;
    }

    .contact_btn button {
        padding: 10px 35px;
        font-size: 15px;
    }
}

/* MEDIA QUERIES for small lap device */
@media screen and (min-width:993px) and (max-width:1024px) {

    .contact_form input,
    textarea {
        font-size: 17px;
    }
}